<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<h1> Actor List </h1>
	<table>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
		</tr>
		<tr th:each="actor: ${actorRequestDTO}">
			<td th:text= "${actor.title}"></td>
			<td th:text="${actor.description}"></td >
			
		</tr>
	</table>

</body>

</html>