<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<h1> Category List </h1>
	<table>
		<tr>
			<th>Category Name</th>
			
		</tr>
		<tr th:each="category: ${categoryRequestDTO}">
			<td th:text= "${category.title}"></td>
			<td th:text="${category.description}"></td >
			
		</tr>
	</table>

</body>

</html>