<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<h1> Category List </h1>
	<table>
		<tr>
			<th>Id</th>
			<th>Category Name</th>
		</tr>
		<tr th:each="category: ${categories}">
			<td th:text="${category.categoryId}"></td>
			<td th:text="${category.categoryName}"></td>
		</tr>
	</table>

</body>

</html>