<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<h1> Movie List </h1>
	<table>
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Description</th>
		</tr>
		<tr th:each="movie: ${movies}">
			<td th:text="${movie.movieId}"></td>
			<td th:text="${movie.movieTitle}"></td>
			<td th:text="${movie.movieDescription}"></td>

		</tr>
	</table>

</body>

</html>