<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<h1> Actor List </h1>
	<table>
		<tr>
			<th>Id</th>
			<th>First Name</th>
			<th>Last Name</th>
		</tr>
		<tr th:each="actor: ${actors}">
			<td th:text="${actor.actorId}"></td>
			<td th:text="${actor.actorFirstName}"></td>
			<td th:text="${actor.actorLastName}"></td>

		</tr>
	</table>

</body>

</html>